<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Website Activity</title>
		<link rel="stylesheet" type="text/css" href="static/style.css" />
	</head>
	<body>
		<div class="background-container"></div>
		<header>
			<h1 class="logo">IIT Mandi</h1>

			<nav class="navigation">
				<a href="#">Home</a>
				<a href="#">About</a>
				<a href="#">Services</a>
				<a href="/login" class="logout-button">Login</a>
			</nav>
		</header>
		<div class="table-container">
			<table>
				<thead>
					<tr>
						<th>Website</th>
						<th>Status</th>
						<th>Visit Info</th>
					</tr>
				</thead>
				<tbody id="websiteTableBody">
					{% for service in services %}
					<tr>
						<td class="white-text">{{service.name}}</td>
						{% if(service.remark == "UP") %}
						<td class="green">ACTIVE</td>
						{% else %}
						<td class="red">DOWN</td>
						{% endif %}
						<td>
							<a
								href="/service/{{service.name}}"
								class="logout-button"
								target="_blank"
								>More Info</a
							>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>